.open-sans-custom {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background-color: black;
}

h2 {
    text-align: center;
    padding: 40px
}

.navbar-nav .nav-item .nav-link {
    color: white;
    transition: color 0.3s; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #39BDEF; 
}


.navbar-scrolled {
    background-color: #39BDEF; 
    transition: background-color 0.3s; 
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: auto;
    }
}

.card-group .card small {
    padding: 10px;
}

.card-group .card {
    border: none; 
    background-color: transparent; 
    margin-bottom: 20px;   
}

.card {
    background-color: #39BDEF; /* Color de fondo para todas las cards */
}

.card-header {
    overflow: hidden;
    max-height: 200px;
}

.btn-azul {
    background-color: #39BDEF;
    border-color: #39BDEF;
    color: white;
}

.btn-azul:hover {
    background-color: transparent;
    border-color: #39BDEF;
    color: #39BDEF; 
}

.btn-azul:focus {
    outline: none; 
    box-shadow: none; 
    border-color: #39BDEF;
}

.icon-white {
    color: white;
    font-size: 25px;
    
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%; 
}

.btn-azul{
    margin-top: 20px;
    background-color: #39BDEF;
}

.tooltip-message {
    display: none;
    position: fixed;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #39BDEF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.tooltip-message.active {
    display: block;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-link {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;
}

.footer-link:hover {
    opacity: 0.7;
}

.social-icons i {
    font-size: 1.5em;
    transition: transform 0.3s;
}

.social-icons i:hover {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@media (min-width: 768px) {
    .footer {
        text-align: left;
    }

    .social-icons {
        text-align: right;
    }

    .align-items-center {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .footer, .social-icons {
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
    }
}
